In [1]:
import pandas as pd
import numpy as np

In [3]:
rra_trans= pd.read_csv("20240903_104208_05089_ryd5b.csv")
ga_trans = pd.read_excel("Project_MyJio_trans.xlsx")

In [2]:
##Data Validation

In [4]:
rra_trans.head()

           airmail_id  cust_pincode business_flag aop_l1  _col4  _col5
0  17228009660007401A        110034            3P      -  149.0    1.0
1  17228540670113951A        732205            3P      -  399.0    1.0
2  17228569380122823A        302004            3P     GM  678.0    1.0
3  17228407610070923M        782001            3P     GM  300.0    1.0
4  17228248780020775M        482001            3P     GM  178.0    1.0

In [5]:
rra_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12720156 entries, 0 to 12720155
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   airmail_id     object
 1   cust_pincode   int64
 2   business_flag  object
 3   aop_l1         object
 4   _col4          float64
 5   _col5          float64
dtypes: float64(2), int64(1), object(3)
memory usage: 582.3+ MB

In [6]:
rra_trans.isna().sum()

airmail_id            0
cust_pincode          0
business_flag         0
aop_l1           215175
_col4                 0
_col5                 0
dtype: int64

In [14]:
rra_trans.columns

Index(['airmail_id', 'cust_pincode', 'business_flag', 'aop_l1', '_col4',
       '_col5'],
      dtype='object')

In [13]:
ga_trans.head()

       Date Session campaign      Transaction ID
0  20240715        MyJio-CPS  17209863340006119A
1  20240715        MyJio-CPS  17210103260017888A
2  20240715        MyJio-CPS  17210125460022205A
3  20240715        MyJio-CPS  17210167200032109A
4  20240715        MyJio-CPS  17210199480040656A

In [18]:
ga_trans.columns

Index(['Date', 'Session campaign', 'Transaction ID'], dtype='object')

In [12]:
ga_trans=ga_trans.iloc[:,0:3]

In [15]:
ga_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201044 entries, 0 to 201043
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              201044 non-null  int64
 1   Session campaign  201044 non-null  object
 2   Transaction ID    201044 non-null  object
dtypes: int64(1), object(2)
memory usage: 4.6+ MB

In [16]:
ga_trans.isna().sum()

Date                0
Session campaign    0
Transaction ID      0
dtype: int64

In [17]:
ga_trans.columns

Index(['Date', 'Session campaign', 'Transaction ID'], dtype='object')

In [20]:
merge_1 = pd.merge(left=ga_trans,right=rra_trans,left_on=ga_trans["Transaction ID"],right_on=rra_trans["airmail_id"],how='left')

In [21]:
merge_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309818 entries, 0 to 309817
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   key_0             309818 non-null  object
 1   Date              309818 non-null  int64
 2   Session campaign  309818 non-null  object
 3   Transaction ID    309818 non-null  object
 4   airmail_id        309594 non-null  object
 5   cust_pincode      309594 non-null  float64
 6   business_flag     309594 non-null  object
 7   aop_l1            303443 non-null  object
 8   _col4             309594 non-null  float64
 9   _col5             309594 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 26.0+ MB

In [22]:
merge_1.head()

,key_0,Date,Session campaign,Transaction ID,airmail_id,cust_pincode,business_flag,aop_l1,_col4,_col5
0,17209863340006119A,20240715,MyJio-CPS,17209863340006119A,17209863340006119A,689595.0,1P,Staples,1969.0,8.0
1,17210103260017888A,20240715,MyJio-CPS,17210103260017888A,17210103260017888A,125001.0,3P,Home Entertainment,399.0,1.0
2,17210125460022205A,20240715,MyJio-CPS,17210125460022205A,17210125460022205A,560048.0,3P,Beauty & Luxury Beauty,212.0,1.0
3,17210167200032109A,20240715,MyJio-CPS,17210167200032109A,17210167200032109A,180015.0,1P,-,199.0,1.0
4,17210199480040656A,20240715,MyJio-CPS,17210199480040656A,17210199480040656A,400097.0,1P,FMCG,10.0,1.0

In [23]:
merge_1.to_excel("merge_1.xlsx")

In [28]:
merge_2 = pd.merge(right=ga_trans,left=rra_trans,right_on=ga_trans["Transaction ID"],left_on=rra_trans["airmail_id"],how='left')

In [29]:
merge_2.head()

,key_0,airmail_id,cust_pincode,business_flag,aop_l1,_col4,_col5,Date,Session campaign,Transaction ID
0,17228009660007401A,17228009660007401A,110034,3P,-,149.0,1.0,NaN,NaN,NaN
1,17228540670113951A,17228540670113951A,732205,3P,-,399.0,1.0,NaN,NaN,NaN
2,17228569380122823A,17228569380122823A,302004,3P,GM,678.0,1.0,NaN,NaN,NaN
3,17228407610070923M,17228407610070923M,782001,3P,GM,300.0,1.0,NaN,NaN,NaN
4,17228248780020775M,17228248780020775M,482001,3P,GM,178.0,1.0,NaN,NaN,NaN

In [30]:
merge_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12720156 entries, 0 to 12720155
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   key_0             object
 1   airmail_id        object
 2   cust_pincode      int64
 3   business_flag     object
 4   aop_l1            object
 5   _col4             float64
 6   _col5             float64
 7   Date              float64
 8   Session campaign  object
 9   Transaction ID    object
dtypes: float64(3), int64(1), object(6)
memory usage: 1.0+ GB

In [31]:
merge_2['Transaction ID'].isna().sum()

12410562

In [32]:
merge_2_cleaned= merge_2.dropna(subset=['Transaction ID'])

In [33]:
merge_2_cleaned.head()

,key_0,airmail_id,cust_pincode,business_flag,aop_l1,_col4,_col5,Date,Session campaign,Transaction ID
24,17199112930091231A,17199112930091231A,786003,1P,-,139.0,1.0,20240702.0,crm_top_banner/,17199112930091231A
30,17232729010083576A,17232729010083576A,641062,3P,GM,259.0,1.0,20240810.0,crm_promo_banner/,17232729010083576A
37,17225017290108708A,17225017290108708A,786192,3P,Appliances,435.0,1.0,20240801.0,crm_top_navigation/,17225017290108708A
57,17224117890070023A,17224117890070023A,452006,1P,Mobiles & PC,1299.0,1.0,20240731.0,crm_top_navigation/,17224117890070023A
109,17204296190082896A,17204296190082896A,110019,3P,F&L,399.0,1.0,20240708.0,crm_top_navigation/,17204296190082896A

In [34]:
merge_2_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309594 entries, 24 to 12720103
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   key_0             309594 non-null  object
 1   airmail_id        309594 non-null  object
 2   cust_pincode      309594 non-null  int64
 3   business_flag     309594 non-null  object
 4   aop_l1            303443 non-null  object
 5   _col4             309594 non-null  float64
 6   _col5             309594 non-null  float64
 7   Date              309594 non-null  float64
 8   Session campaign  309594 non-null  object
 9   Transaction ID    309594 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 26.0+ MB

In [35]:
merge_2_cleaned.to_excel('merge_2_cleaned.xlsx')

In [26]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996